body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #22ff00;
}

.game {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid #000000;
}

.cell:hover {
    background-color: #ff0000;
}

.info {
    margin-top: 20px;
}

#message {
    font-size: 1.5em;
}

#restartButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}
