body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.section {
    padding: 50px 0;
    text-align: center;
}

#home {
    background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
    color: rgb(0, 0, 0);
}

#about {
    background: #00eeff;
}

#projects {
    background : #f500f9;
}

#contact {
    background: #ffea00;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-list div {
    background: white;
    margin: 10px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
